{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {% assign image_url = '' %}

                  {% if section.settings.drawer_menu_images_toggle == 'featured' %}
                    {% if link.object.featured_image %}
                      {% assign image_url = link.object.featured_image | img_url: '100x100' %}
                    {% endif %}
                  {% elsif section.settings.drawer_menu_images_toggle == 'metafield' %}
                    {% if link.object.metafields.custom.header_menu_image %}
                      {% assign image_url = link.object.metafields.custom.header_menu_image | img_url: '100x100' %}
                    {% endif %}
                  {% endif %}

                  <div class="menu-drawer__menu-item-container{% if link.current %} menu-drawer__menu-item--active{% endif %}">
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item menu-drawer__menu-item-w-image link link--text focus-inset"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>

                    {% if image_url != blank %}
                      <a href="{{ link.url }}" class="menu-drawer__menu-item-link">
                        <img src="{{ image_url }}" alt="{{ link.title | escape }}" class="menu-drawer__image">
                      </a>
                    {% endif %}
                  </div>

                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        {% render 'icon-arrow' %}
                        {% render 'icon-caret' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {% assign child_image_url = '' %}

                                {% if section.settings.drawer_menu_images_toggle == 'featured' %}
                                  {% if childlink.object.featured_image %}
                                    {% assign child_image_url = childlink.object.featured_image | img_url: '100x100' %}
                                  {% endif %}
                                {% elsif section.settings.drawer_menu_images_toggle == 'metafield' %}
                                  {% if childlink.object.metafields.custom.header_menu_image %}
                                    {% assign child_image_url = childlink.object.metafields.custom.header_menu_image
                                      | img_url: '100x100'
                                    %}
                                  {% endif %}
                                {% endif %}

                                <div class="menu-drawer__submenu-item-container">
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>

                                  {% if child_image_url != blank %}
                                    <a href="{{ childlink.url }}" class="menu-drawer__submenu-item-link">
                                      <img
                                        src="{{ child_image_url }}"
                                        alt="{{ childlink.title | escape }}"
                                        class="menu-drawer__image"
                                      >
                                    </a>
                                  {% endif %}
                                </div>

                                {%- if childlink.links != blank -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      {% render 'icon-arrow' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
<style>
  .menu-drawer__menu-item-container,
  .menu-drawer__submenu-item-container {
    display: flex;
    flex-direction: column; /* Ensures the image and text are stacked */
    align-items: flex-start; /* Ensures the image and text are left-aligned */
    padding: 1rem;
  }

  .menu-drawer__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%; /* Makes the image circular */
    margin-bottom: 10px; /* Adds space between the image and the text */
  }

  .menu-drawer__submenu-item-link {
    margin-bottom: 10px;
  }

  .menu-drawer__menu-item.menu-drawer__menu-item-w-image {
    padding: 0px 0px;
  }

  .menu-drawer__menu-item-container .menu-drawer__menu-item-link,
  .menu-drawer__submenu-item-container .menu-drawer__submenu-item-link {
    margin-left: auto; /* Push the image to the right if necessary */
  }
</style>
